<div class="peek42-bar">
  <span class="peek42-control peek42-title">Peek42</span>

  <input class="peek42-control peek42-eval"
    autocorrect="off"
    placeholder="JS to evaluate"
  />

  <label class="peek42-control peek42-quietl">Quiet
    <input type="checkbox" class="peek42-control peek42-quiet" />
  </label>

  <span class="peek42-control peek42-clear">Clear</span>
  <span class="peek42-control peek42-resize">Resize</span>
  <span class="peek42-control peek42-toggle">Toggle</span>
</div>

<pre class="peek42-log">
</pre>
