.peek42-console {
  border-color: #65b042;
  box-shadow: 0 0 1em black;
  background: black;
  color: #65b042;
}

.peek42-eval {
  border-color: gray;
  background: black;
  color: white;
}

.peek42-log {
  background: black;
  color: #bdb76b;
}
