@import '../../styles/config';

$color-log-entry-desc: darken(map-get($theme-colors, 'secondary'), 10%);

@mixin user-select-none {
  -webkit-user-select: none;
  user-select: none;
}

.peek42-dev, .peek42-dev * {
  margin: 0.3em !important;
  padding: 0.3em !important;
  border: 1px dashed fuchsia !important;
}

.peek42-console {
  position: fixed;
  z-index: 500;
  right: 0.5ex;
  bottom: 0.5ex;
  left: 0.5ex;
  margin: 0;
  padding: 0.1em;
  border: 1px solid map-get($theme-colors, 'primary');
  border-radius: 0.5ex;
  box-shadow: 0 0 1em map-get($theme-colors, 'primary');
  opacity: 0.85;
  background: map-get($theme-colors, 'background');
  color: map-get($theme-colors, 'primary');
  font-family: map-get($theme-fonts, 'primary'), sans-serif;
  font-size: 22px;
  text-align: left;
}

.peek42-flash-size-limit {
  border-color: map-get($theme-colors, 'error') !important;
}

.peek42-flash-notice {
  box-shadow: 0 0 1em map-get($theme-colors, 'notice') !important;
}

.peek42-flash-success {
  box-shadow: 0 0 1em map-get($theme-colors, 'success') !important;
}

.peek42-flash-warning {
  box-shadow: 0 0 1em map-get($theme-colors, 'warning') !important;
}

.peek42-flash-error {
  box-shadow: 0 0 1em map-get($theme-colors, 'error') !important;
}

.peek42-bar {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 0.15em 0 0.15em;
}

.peek42-control {
  margin: 0;
  padding: 0 0.3em 0 0.3em;
  font-size: 103%;
}

.peek42-control:hover {
  cursor: pointer;
}

.peek42-title {
  @include user-select-none;

  margin-right: auto;
  font-weight: bold;
}

.peek42-eval {
  flex: 1;
  margin: 0 0.3em 0 0.3em;
  font-family: map-get($theme-fonts, 'secondary'), monospace;
  font-size: 18px;
  line-height: 25px;
}

.peek42-quietl {
  @include user-select-none;
}

.peek42-quiet {

}

.peek42-clear {
  @include user-select-none;
}

.peek42-resize {

}

.peek42-toggle {
  @include user-select-none;
}

.peek42-view {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: top;
  margin: 0;
  padding: 0;
}

.peek42-log {
  flex: 1;
  overflow: scroll;
  // IMPORTANT: NOT setting initial height causes the font to be bigger!
  height: 42px;
  margin: 0;
  padding: 0;
  background: map-get($theme-colors, 'background');
  color: map-get($theme-colors, 'secondary');
  font-family: map-get($theme-fonts, 'secondary'), monospace;
  font-size: 20px;
  line-height: 1em;
}

.peek42-bar1 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 2em;
  margin: 0;
  padding: 0;
}

.peek42-bar1-control {
  box-sizing: border-box;
  min-width: 2em;
  margin: 0.2ex 0;
  padding: 0.3ex 0;
  border: 1px solid;
  border-radius: 0.5ex;
  color: $color-log-entry-desc;
  text-align: center;
}

.peek42-entries-info {
  border: 3px solid map-get($theme-colors, 'notice');
}

.peek42-entries-info-active {
  background: map-get($theme-colors, 'notice');
  color: white;
}

.peek42-entries-log {
  border: 3px solid map-get($theme-colors, 'success');
}

.peek42-entries-log-active {
  background: map-get($theme-colors, 'success');
  color: white;
}

.peek42-entries-warn {
  border: 3px solid map-get($theme-colors, 'warning');
}

.peek42-entries-warn-active {
  background: map-get($theme-colors, 'warning');
  color: white;
}

.peek42-entries-error {
  border: 3px solid map-get($theme-colors, 'error');
}

.peek42-entries-error-active {
  background: map-get($theme-colors, 'error');
  color: white;
}

.peek42-log-entry-info {
  border-left: 3px solid map-get($theme-colors, 'notice') !important;
}

.peek42-log-entry-log {
  border-left: 3px solid map-get($theme-colors, 'success') !important;
}

.peek42-log-entry-warn {
  border-left: 3px solid map-get($theme-colors, 'warning') !important;
}

.peek42-log-entry-error {
  border-left: 3px solid map-get($theme-colors, 'error') !important;
}

.peek42-log-entry-simple {
  margin-bottom: 0.4ex !important;
  padding-left: 0.4ex !important;
}

.peek42-log-entry {
  margin-bottom: 0.4ex !important;
  padding-left: 0.4ex !important;
}

.peek42-log-entry-toggle {
  color: black;
  font-family: monospace;
}

.peek42-log-entry-desc {
  margin-left: 0.2ex;
  color: $color-log-entry-desc;
}

.peek42-log-entry-body {

}
