@import '../../styles/config';

.peek42-console {
  position: fixed;
  z-index: 500;
  right: 0.5ex;
  bottom: 0.5ex;
  left: 0.5ex;
  margin: 0;
  padding: 0.1em;
  border: 1px solid map-get($theme-colors, 'primary');
  border-radius: 0.5ex;
  box-shadow: 0 0 1em map-get($theme-colors, 'primary');
  opacity: 0.85;
  background: map-get($theme-colors, 'background');
  color: map-get($theme-colors, 'primary');
  font-family: map-get($theme-fonts, 'primary'), sans-serif;
  font-size: 22px;
  text-align: left;
}

.peek42-flash-size-limit {
  border-color: map-get($theme-colors, 'error') !important;
}

.peek42-flash-notice {
  box-shadow: 0 0 1em map-get($theme-colors, 'notice') !important;
}

.peek42-flash-success {
  box-shadow: 0 0 1em map-get($theme-colors, 'success') !important;
}

.peek42-flash-warning {
  box-shadow: 0 0 1em map-get($theme-colors, 'warning') !important;
}

.peek42-flash-error {
  box-shadow: 0 0 1em map-get($theme-colors, 'error') !important;
}

.peek42-bar {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 0.15em 0 0.15em;
}

.peek42-control {
  margin: 0;
  padding: 0 0.3em 0 0.3em;
  font-size: 103%;
}

.peek42-control:hover {
  cursor: pointer;
}

.peek42-title {
  margin-right: auto;
  font-weight: bold;
}

.peek42-eval {
  flex: 1;
  margin: 0 0.3em 0 0.3em;
  font-family: map-get($theme-fonts, 'secondary'), monospace;
  font-size: 18px;
  line-height: 25px;
}

.peek42-quietl {

}

.peek42-quiet {

}

.peek42-clear {

}

.peek42-resize {

}

.peek42-toggle {

}

.peek42-log {
  overflow: scroll;
  margin: 0.1em 0.2em 0.2em 0.2em;
  padding: 0;
  background: map-get($theme-colors, 'background');
  color: map-get($theme-colors, 'secondary');
  font-family: map-get($theme-fonts, 'secondary'), monospace;
  font-size: 20px;
  line-height: 1em;
}

.peek42-log-info {
  border-left: 3px solid map-get($theme-colors, 'notice') !important;
}

.peek42-log-log {
  border-left: 3px solid map-get($theme-colors, 'success') !important;
}

.peek42-log-warn {
  border-left: 3px solid map-get($theme-colors, 'warning') !important;
}

.peek42-log-error {
  border-left: 3px solid map-get($theme-colors, 'error') !important;
}

.peek42-log-entry-simple {
  margin-bottom: 1ex !important;
  padding-left: 0.5ex !important;
}

.peek42-log-entry-complex {
  margin-bottom: 1ex !important;
  padding-left: 0.5ex !important;
}

.peek42-log-entry-toggle {
  font-family: monospace;
}

.peek42-log-entry-comment {

}

.peek42-log-entry-message {

}
