.peek42-console {
  border-color: #65b042;
  box-shadow: 0 0 1em black;
  background: black;
  color: #65b042;
}

.peek42-eval {
  border-color: gray;
  background: black;
  color: white;
}

.peek42-log {
  background: black;
  color: #ddd78b;
}

.peek42-bar1-control {
  color: #fff9ad;
}

.peek42-log-entry-toggle {
  color: #cccccc;
}

.peek42-log-entry-desc {
  color: #fff9ad;
}
